
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jjwoo.github.io/assets/images/movie-collage.jpg);">
  <div class="container text-center">
    <h1>Welcome to NetFLEX Movies Lists!</h1>
    <h4>Choose the list you want, add bookmarks and enjoy beautiful movies.</h4>
  </div>
</div>

<div class="container d-flex justify-content-around flex-wrap">
  <% @lists.each do |list| %>
    <div class="card col-4 m-4 rounded">
      <img class="card-img-top" style=" object-fit: cover; height: 16rem;" src=" <%= cl_image_path list.photo.key%>" alt="Card image cap">
      <div class="card-body bg-black">
        <a class="card-text text-center text-white text-decoration-none"href="/lists/<%=list.id%>"><h5 ><%= list.name %></h5></a>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center mb-3">
  <a href="/lists/new"><button type="button" class="btn btn-danger text-white">Create a new List</button></a>
</div>
