<div class="container d-flex justify-content-center flex-wrap">
  <div class="border rounded p-4 col-4">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <div class="text-center">
        <%= f.button :submit, class: 'text-white btn btn-danger'  %>
      </div>
    <% end %>
  </div>
</div>
